@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

/* Top Nav Bar */

body {
	background-image: url("/Users/Joshua/Desktop/index/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	vertical-align: top;
	width: fill;
	margin: 0 auto;
}

#navbar {
	width: fill;
	height: 96px;
	background-color: White;
	opacity: .97;
	display: block;
	position:fixed;
  	top:0;
  	right:0;
  	left:0;
  	z-index:99;
}

#SignIn {
	Float: right;
	margin-right: 50px;
	height: 40px;
	width: 100px;
	border-radius: 5.5px;
	font-size: 14px;
	text-decoration: bold;
	color: white;
	margin-left: 12px;
	text-align: center;
	background-color: #B3B3B3;
	border: 2px solid #B3B3B3;
	margin-top: -4px;
}

#tabs {
	padding-top: 16px;
	display: block;
}

li {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	padding-left: 28px;
}	

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: black;
}

#investmo {
	color: black;
	font-style: bold;
}

/* Head */

#Main {
	width: fill;
	/* background-color: #EEEEEE; */
	height: 518px;
	display: block;
}

#MainText {
	text-align: center;
	padding-top: 106px;
	font-family: 'Open Sans', sans-serif;
	font-size: 44px;
	text-decoration: bold;
	font-style: bold;
	margin-top: 90px;
}

#Description {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	line-height: 152%;
	max-width: 630px;
	margin: 0 auto;
	margin-top: -20px;
}

/* Email Input */

form {
	text-align: center;
	padding-top: 34px;
}


#Email {
	font-size: 18px;
	padding-left: 20px;
	height: 60px;
	width: 374px;
	border-radius: 5.5px;
	border: 1px solid #DBDBDB;
}

#Submit {
	height: 64px;
	width: 150px;
	border-radius: 5.5px;
	border: 1px solid #DBDBDB;
	font-size: 18px;
	text-decoration: bold;
	color: white;
	margin-left: 12px;
	text-align: center;
	background-color: #6291C6;
	border: 2px solid #6291C6;
	margin-top: -2px;
}

/* Amount Invested */

#Invested {
	width: fill;
	height: 150px;
	background-color: #7CD06F;
	opacity: .8;
	margin-top: -50px;
}

#Amount {
	font-family: 'Oxygen', sans-serif;
	font-size: 37px;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}

/* How It Works */

#how_It_Works {
	width: fill;
	height: 380px;
	background-color: #FDFDFD;
}

#HowText {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 152%;
	max-width: 630px;
	margin: 0 auto;
	margin-top: 0px;
	padding-top: 60px;
	color: #5585BB;
}

#HowPic {
	text-align: center;
	margin-top: 25px;
	display: block;
	margin-left: auto;	
	margin-right: auto;
}

/* For Students, By Students */

#Bottom1 {
	width: fill;
	height: 306px;
	background-color: #93BCEA;
	display: block;
	margin-top: 0px;
}

#ForByHead {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	line-height: 152%;
	margin: 0 auto;
	padding-top: 67px;
	color: white;
	text-align: center;
}

#ForByText {
	text-align: center;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 19.5px;
	line-height: 164%;
	max-width: 600px;
	margin: 0 auto;
	color: white;
}

/* Super Secure */

#Bottom2 {
	width: fill;
	height: 280px;
	background-color: #F0F0F0;
	display: block;
	margin-top: 0px;
}

#SecureHead {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	line-height: 152%;
	margin: 0 auto;
	padding-top: 67px;
	color: black;
	text-align: center;
}

#SecureText {
	text-align: center;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 19.5px;
	line-height: 164%;
	max-width: 600px;
	margin: 0 auto;
	color: black;
}

/* About Us */

#aboutUs {
	background-color: #FDFDFD;
}

/* CTA 2 */

#Bottom {
	width: fill;
	height: 130px;
	background-color: #FDFDFD;
	display: block;
}



