@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

html{
	padding-left: 60px;
	background: #FBFBFB;
}

/* Top Nav Bar */

#top {
	width: fill;
	height: 96px;
	background-color: White;
	opacity: .97;
	display: block;
	position:fixed;
  	top:0;
  	right:0;
  	left:0;
  	z-index:99;
  	display: block;
  	margin-bottom: 10px;
}

#tabs {
	padding-top: 16px;
	display: block;
}

li {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	padding-left: 28px;
}	

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: black;
}

#investmo {
	color: black;
	font-style: bold;
}

/* Progress */

#ProgressBar {
	width: fill;
	height: 100px;
	background-color: #EFEFEF;
	display: inline;
	margin-top: 96px;
}

#ProgressText {
	margin-top: 146px;
	float: left;
	color: #939393;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	display: inline;
}

#Progress {
	margin-top: -1px;
	text-align: center;
	padding: auto;
	display: inline;
	margin-left: -5px;
}

.Heading {
	margin-top: 140px;
	color: Black;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 4px;
}

/* Form */

/* Placeholders */

::-webkit-input-placeholder {
   padding-left: 1px;
   color: #C9C9C9;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 1px;
   color: #C9C9C9;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 1px;
   color: #C9C9C9;
}

:-ms-input-placeholder {  
   padding-left: 1px;
   color: #C9C9C9;
}


/* Inputs */

#NameText {
	margin-top: -60px;
	display: block;
}

#NameBox {
	height: 60px;
	width: 500px;
	border-radius: 7.5px;
	border: 1px solid #DBDBDB;
	padding-left: 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: #939393;
	margin-top: -12px;
}

.Questions {
	color: Black;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 100px;
	margin-bottom: 4px;
}

#AmountText {
	margin-top: -60px;
}

#AmountBox select {
	width: 520px;
	height: 66px;
	background-color: White;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 1px solid #DBDBDB;
	border-radius: 0;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 17.4px;
	color: #939393;
}

#risk {
	margin-top: 40px;
}

#TimelineDescription {
	font-size: 14px;
	margin-top: -15px;
	margin-bottom: 20px;
	color: gray	
}

#time {
	margin-top: 34px;
}

#industries {
	margin-top: 40px;
}

/* Check Boxes */

.check {
	background-color: #fafafa;
	border: 1px solid #cacece;
	border-radius: 3px;
	margin-top: 13px;
	margin-right: 12px;
}

#CheckText {
	font-size: 16.5px;
	padding: 8px;
	margin-left: 10px;
}

#Continue {
	height: 60px;
	width: 430px;
	border-radius: 5.5px;
	border: 1px solid #DBDBDB;
	font-size: 18px;
	text-decoration: bold;
	color: white;
	text-align: center;
	background-color: #6291C6;
	border: 2px solid #6291C6;
	margin-top: 28px;
	margin-left: 0px;
	margin-bottom: 50px;
	display: block;
}