@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto);

html{
	padding-left: 100px;
	background: #FBFBFB;
}

/* Top Nav Bar */

#top {
	width: fill;
	height: 96px;
	background-color: White;
	opacity: .97;
	display: block;
	position:fixed;
  	top:0;
  	right:0;
  	left:0;
  	z-index:99;
  	display: block;
  	margin-bottom: 10px;
}

#tabs {
	padding-top: 16px;
	display: block;
}

#SignOut {
	Float: right;
	margin-right: 50px;
	height: 40px;
	width: 100px;
	border-radius: 5.5px;
	font-size: 14px;
	text-decoration: bold;
	color: white;
	margin-left: 12px;
	text-align: center;
	background-color: #EA6B6B;
	border: 2px solid #EA6B6B;
	margin-top: -4px;
}

li {
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	padding-left: 28px;
}	

a {
	color: #B9B9B9;
	text-decoration: none;
}

a:hover {
	color: black;
}

#investmo {
	color: black;
	font-style: bold;
}

/* Name */

#Name {
	margin-top: 150px;
	color: Black;
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	text-align: left;
}

#line {
	float: left;
	width: 240px;
	height: 0.5px;
	border-style: solid, gray;
	display: block;
	margin-left: -4px;
	margin-top: 12px;
}

/* Current Balance  */

#CurrentBalance {
	color: #5B5B5B;
	font-size: 19.5px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	display: inline;
	margin-left: -4.5px;
	margin-bottom: 20px;
}

#Money {
	color: #47BC42;
	font-size: 19.5px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	display: inline;
}


/* Profile Info */

#Profile {
	text-align: left;
	margin-top: 20px;
	color: #9B9B9B;
	margin-left: -74px;
}

.ProfileInfo {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
	display: block;
}

/* Button */

#Another {
	height: 54px;
	width: 216px;
	border-radius: 5.5px;
	border: 1px solid #DBDBDB;
	font-size: 14px;
	text-decoration: bold;
	color: white;
	text-align: center;
	background-color: #6291C6;
	border: 2px solid #6291C6;
	float: left;
	margin-top: 6px;
	display: block;
	margin-left: -6px;
}

